<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/head %>
    <title>Hello, world!</title>
  </head>
  <body>
    <% include ./partials/nav %>

    <div class="card mx-auto" style="width: 12rem;">
        <div class="card-body">
            <p class="card-text">
                Requests made: <%-requests_made%>
            </p>
                <a href="/" class="btn btn-primary">Refresh</a>
        </div>
    </div>
    <% include ./partials/footer %>
  </body>
</html>