<!doctype html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <title>Post Website</title>
</head>

<body>
    <% include ./partials/nav %>
    <div class="container mt-3">
    <%- body %>
    <% include ./partials/footer %>
    </div>
</body>

</html>