<!doctype html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <title>Post Website</title>
</head>

<body>
    <% include ./partials/nav %>
    <%- body %>
    <% include ./partials/footer %>
</body>

</html>