<div class="container">
    <div class="jumbotron">
        <h1>Hello <%= user.username %></h1>
        <hr>
        <h5>Number of votes : <%= user.vote %></h5>
        <h5>Date joined : <%= user.date.toLocaleDateString("en-US") %></h5>
        <form action="/user/delete" method="post">
            <button class="text-danger" type="submit">Delete</button>
        </form>
    </div>
</div>