<nav class="navbar navbar-expand-md navbar-dark mb-2">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler0"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler0">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/post">Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user">User</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if(typeof user == 'undefined'){ %>
      <li class="nav-item">
        <a class="nav-link" href="/user/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/login">Login</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/user/profile"><%= user.username %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/logout">Logout</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>